@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:400,700';
html,
body {
  background: #FFFFFF;
  font-family: 'Libre Franklin', sans-serif; }

.container {
  background: #F8F8F8;
  width: 900px;
  height: 650px;
  margin: 5% auto;
  box-shadow: 0px 0px 10px #C8C7D9;
  position: relative; }
  .container .map {
    width: 45%;
    float: left; }
  .container .contact-form {
    width: 53%;
    margin-left: 2%;
    float: left; }
    .container .contact-form .title {
      font-size: 2.5em;
      font-family: "Libre Franklin", sans-serif;
      font-weight: 700;
      color: #242424;
      margin: 5% 8%; }
    .container .contact-form .subtitle {
      font-size: 1.2em;
      font-weight: 400;
      margin: 0 4% 5% 8%; }
    .container .contact-form input,
    .container .contact-form textarea {
      width: 330px;
      padding: 3%;
      margin: 2% 8%;
      color: #242424;
      border: 1px solid #B7B7B7; }
      .container .contact-form input::placeholder,
      .container .contact-form textarea::placeholder {
        color: #242424; }
    .container .contact-form .btn-send {
      background: #A383C9;
      width: 180px;
      height: 60px;
      color: #F8F8F8;
      font-weight: 700;
      margin: 2% 8%;
      border: none; }
	